html, body 
{
    display:flex;
    flex-direction: column; 
    height: 100%;

}

#nav
{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

#nav a
{
    margin: 20px;
}

#nav a.topimage
{
    width: 20px;
    height: 20px;
    background-color:  red;
    border-radius: 50%;
}

#middle
{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo
{
    text-align: center;
}

#searchbarcontainer
{
    text-align: center;
    margin-top: 20px;
    position: relative;
}

#searchbar
{
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 700px;
    border-radius: 15px;
    border: 2px solid rgb(153, 153, 153);
    padding-left: 30px;
    padding-right: 30px;
}

#buttons
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button{

    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background: rgba(145, 142, 142, 0.933);
    border-radius: 3px;
    border: 2px solid transparent;

}

#links
{
    text-align: center;
    margin-top: 10px;
}

#footer-content
{
    background: #eee;
    border-top: 1px solid black;
}


a{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

#searchbar:hover{
    box-shadow: 0 0 10px 2px rgb(124, 122, 122);
}

#search, #voice
{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search
{
    left: 10px;
}
#voice
{
    right: 10px;
}

.button:hover{
    box-shadow: 0 0 2px 1px black;
    border: 2px solid #eee;
}